---
layout: default
---

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.first_name }} {{ page.last_name }}
    {% if page.alumni %}
    (Alumni)
    {% endif %}
    </h1>
    <h5 class="post-description">
    {% if page.position %}
    {{ page.position }}<br/>
    {% endif %}
    {% if page.pronouns %}
    ({{ page.pronouns }})
    {% endif %}
    </h5>
  </header>

  {% if page.image %}
    <div class="profile float-right">
      {% assign profile_image_path = page.image | prepend: 'assets/img/people/' %}
        {% assign profile_image_class = 'img-fluid z-depth-1 roded' %}
      {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.2}}px, (min-width: 576px) 30, 95vw"{% endcapture %}
      {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image cache_bust=true %}
    </div>

    <div class="more-info"></div>
  {% endif %}

  <h3>
  <div class="row no-gutters" style="padding-top:1rem;">
  {% if page.email %}
      <div class="col-1" style="margin:2px;"><a href="mailto:{{ page.email | encode_email }}" class="card-link"><i class="fas fa-envelope"></i></a></div>
  {% endif %}
  {% if page.phone %}
      <div class="col-1" style="margin:2px;"><a href="tel:{{ page.phone }}" class="card-link"><i class="fas fa-phone"></i></a></div>
  {% endif %}
  {% if page.google_scholar %}
      <div class="col-1" style="margin:2px;"><a href="https://scholar.google.com/citations?user={{ page.google_scholar }}" class="card-link" target="_blank"><i class="ai ai-google-scholar"></i></a></div>
  {% endif %}
  {% if page.dblp %}
      <div class="col-1" style="margin:2px;"><a href="https://dblp.org/pid/{{ page.dblp }}.html" class="card-link" target="_blank"><i class="ai ai-dblp"></i></a></div>
  {% endif %}
  {% if page.linkedin %}
      <div class="col-1" style="margin:2px;"><a href="https://linkedin.com/in/{{ page.linkedin }}/" class="card-link" target="_blank"><i class="fab fa-linkedin"></i></a></div>
  {% endif %}
  {% if page.orcid %}
      <div class="col-1" style="margin:2px;"><a href="https://orcid.org/{{ page.orcid }}" class="card-link" target="_blank"><i class="fab fa-orcid"></i></a></div>
  {% endif %}
  {% if page.twitter %}
      <div class="col-1" style="margin:2px;"><a href="https://twitter.com/{{ page.twitter }}" class="card-link" target="_blank"><i class="fab fa-twitter"></i></a></div>
  {% endif %}
  {% if page.github %}
      <div class="col-1" style="margin:2px;"><a href="https://github.com/{{ page.github }}" class="card-link" target="_blank"><i class="fab fa-github"></i></a></div>
  {% endif %}
  {% if page.cv %}
  {% capture cv_path %}assets/pdf/cv/{{ page.cv }}{% endcapture %}
      <div class="col-1" style="margin:2px;"><a href="{{ cv_path | relative_url }}" class="card-link" target="_blank"><i class="ai ai-cv"></i></a></div>
  {% endif %}
  {% if page.website %}
      <div class="col-1" style="margin:2px;"><a href="{{ page.website }}" class="card-link" target="_blank"><i class="fas fa-globe"></i></a></div>
  {% endif %}
  </div>
  </h3>

  <article>
    {{ content }}
  </article>

  <br style="clear:both" />
  <div class="publications">
    {% bibliography --file papers -q @*[author~={{ page.last_name }} && author~={{ page.first_name }}] %}
  </div>
</div>